.post_list {
  width: 800px;
  margin: 0 auto;
}
.post_list_info {
  display: flex;
  justify-content: space-between;
}
.post_list_category {
  border: 1px solid #06c;
  border-radius: 0.2rem;
  color: #06c;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.4rem;
}
.post_item {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 1rem;
}

.post_list_title {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.post_list_content {
  font-size: 12px;
  text-align: left;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read_the_docs {
  color: #888;
}
